@model IEnumerable<LeagueLeak.Web.Models.Players.LeaderboardsViewModel>

@{
    ViewBag.Title = "Leaderboards";
}

<h2>Leaderboards</h2>

@foreach (var item in @Model)
{
    <div class="row">
        <p>@item.PlayerName - @item.PlayerRating</p>
    </div>
}
