@using LeagueLeak.Web.Areas.Administration.ViewModels.Articles
@{
    ViewBag.Title = "Article";
    const string ControllerName = "Article";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
    .Grid<ArticleViewModel>()
    .Name("Grid")
    .Columns(cols =>
    {
        cols.Bound(pr => pr.Title);
        cols.Bound(pr => pr.Content);
        cols.Bound(pr => pr.DateCreated);
        cols.Bound(pr => pr.ModifiedOn).Hidden();
        cols.Command(com => com.Edit()).Title("Edit");
        cols.Command(com => com.Destroy()).Title("Delete");
    })
    .Pageable(p => p.Refresh(true))
    .ColumnMenu()
    .Sortable()
    .Filterable()
    .Editable(e =>
    {
        e.Mode(GridEditMode.PopUp).Window(w => w.Width(700));
        e.ConfirmDelete("Are you sure you want to delete this item?");
    })
    .ToolBar(t =>
    {
        t.Create();
    })
    .DataSource(data =>
        data
        .Ajax()
        .Model(m => m.Id(c => c.Id))
        .Read(read => read.Action("Read", ControllerName))
        .Create(create => create.Action("Create", ControllerName))
        .Update(update => update.Action("Update", ControllerName))
        .Destroy(destroy => destroy.Action("Destroy", ControllerName)))
)