/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.champion-list-link {
    font-size: 0px;
    background-color: black; 
    width: 120px; 
    height: 120px;
}

.champion-list-link:hover > div {
    font-size: 22px;
    background-color: black; 
    width: 100%;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    word-wrap:break-word;
}*/