@using LeagueLeak.Web.Models.Guides
@model IEnumerable<AllGuidesViewModel>

@{
    ViewBag.Title = "All Guides";
}

@(Html.Kendo()
    .Grid<AllGuidesViewModel>(Model)
    .Name("Grid")
    .HtmlAttributes(new { @class = "text-center" })
    .Columns(cols =>
    {
        cols.Bound(pr => pr.GuideTitle);
        cols.Bound(pr => pr.ChampionName);
        cols.Bound(pr => pr.AuthorName);
        cols.Template(@<text>
            <a href="/Guides/Details/@item.Id" class="btn btn-primary">More info</a>
        </text>).Width(100);
    })
    .Pageable(p => p.Refresh(true))
    .ColumnMenu()
    .Sortable()
    .Filterable()
    .Groupable()
    .Resizable(resize => resize.Columns(true))
)