@model LeagueLeak.Web.Models.Guides.GuideDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h1>@Model.GuideTitle</h1>
    <div class="row">
        <em>@Model.AuthorName</em>
    </div>
    <div class="row">
        <p>@Model.GuideContent</p>
    </div>
    <div class="content">
        Comments here!!!!
    </div>
</div>
