@using LeagueLeak.Web.Models.Champions
@model IEnumerable<ChampionViewModel>

@{
    const string ControllerName = "Champions";
    ViewBag.Title = "All Champions";
}

<div class="row">
    @foreach (var champion in @Model)
    {
        
        <div class="col-md-2" style="width: 120px; height: 120px;">
            <a href="/Champions/Details/@champion.Id" class="btn btn-default" style="background-image: url('@Url.Content(champion.ImagePath)'); width: 120px; height: 120px;">
                @champion.ChampionName
            </a>
        </div>
    }
</div>