@using LeagueLeak.Web.Models.Champions
@model ICollection<ChampionViewModel>
@{
    ViewBag.Title = "All Champions";
}

@(Html.Kendo()
        .Grid<ChampionViewModel>(Model)
    .Name("Grid")
    .Columns(cols =>
    {
        cols.Bound(pr => pr.ChampionName);
        cols.Bound(pr => pr.Role);
        cols.Template(@<text>
            <a href="/Champions/Details/@item.Id" class="btn btn-primary">More info</a>
        </text>).Width(100);
    })
    .Pageable(p => p.Refresh(true))
    .ColumnMenu()
    .Sortable()
    .Groupable()
    .Resizable(resize => resize.Columns(true))
)