@model LeagueLeak.Web.Models.CommentsViewModel

<div class="row" id="comments">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Comment by @Model.AuthorName on @Model.DateCreated</h4>
        </div>
        <div class="panel-body">
            <p>@Model.Content</p>
            <hr />
        </div>
    </div>
</div>
