@using LeagueLeak.Web.Areas.Administration.ViewModels.Players
@{
    ViewBag.Title = "Player";
    const string ControllerName = "Player";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
    .Grid<PlayerViewModel>()
    .Name("Grid")
    .Columns(cols =>
    {
        cols.Bound(pr => pr.Name);
        cols.Bound(pr => pr.Wins);
        cols.Bound(pr => pr.Loses);
        cols.Bound(pr => pr.Kills);
        cols.Bound(pr => pr.Deaths);
        cols.Bound(pr => pr.Assists);
        cols.Bound(pr => pr.Rating);
        cols.Command(com => com.Edit()).Title("Edit");
        cols.Command(com => com.Destroy()).Title("Delete");
    })
    .Pageable(p => p.Refresh(true))
    .ColumnMenu()
    .Sortable()
    .Filterable()
    .Editable(e =>
    {
        e.Mode(GridEditMode.PopUp);
    })
    .ToolBar(t =>
    {
        t.Create();
    })
    .DataSource(data =>
        data
        .Ajax()
        .Model(m => m.Id(c => c.Id))
        .Read(read => read.Action("Read", ControllerName))
        .Create(create => create.Action("Create", ControllerName))
        .Update(update => update.Action("Update", ControllerName))
        .Destroy(destroy => destroy.Action("Destroy", ControllerName)))
)

