@model IEnumerable<LeagueLeak.Web.ViewModels.Home.IndexArticlesViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @foreach(var article in Model)
    {
        <div class="jumbotron">
            <div class="row">
                <h2>@article.Title</h2>
            </div>
            <div class="row">
                <p>@article.Content</p>
            </div>
            <p>Date Created: @article.DateCreated</p>
        </div>
    }
</div>