@model IEnumerable<LeagueLeak.Web.ViewModels.Home.IndexNewsViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @foreach(var news in Model)
    {
        <div class="jumbotron">
            <div class="row">
                <h2>@news.Title</h2>
            </div>
            <div class="row">
                <p>Content here!</p>
            </div>
        </div>
    }
</div>